@charset "utf-8";
/* #fe973c Orange */
/* #5468f1 Indigo */
/* #7657bc Purple */
/* Own CSS */

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
	background-color: #2a2b3d;
	color: #ffffff;
	font-size: 14px;
	font-style: normal; 
	font-variant: normal;
	line-height: 23px; 
	height: 100vh;
}
h1 { 
	font-size: 32px;  
	font-weight: 300; 
} 
h3 { 
	font-size: 17px;
	font-weight: 700; 
}
p {
	font-weight: 400; 
}
.btn {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.btn-light {
	background-color: rgba(255,255,255,.25);
}
.btn-ligh:focus, .btn-light:hover {
	background-color: rgba(255,255,255,.75);
	color: #000000 !important;
}
.pop-result {
	font-size: 2rem;
	line-height: 2rem;
}
.scores {
	background-color: #232436;
}
footer {
	font-size: .75rem;
	background-color: #222332;
}

.purse {
  height: 160px;
  width: 160px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.purse::-moz-focus-inner {
  border: 0;
}
.coin {
	width: 160px;
	height: 160px;
	transform: scale(.75);
}
.circle-container {
	position: absolute;
	width: 100%;
	height: 200px;
	text-align: center;
	top: -20px;
}
.circle {
	width: 200px;
	height: 200px;
	transform-origin: center;
	transform: rotate(-90deg);
}
.circle #circle {
	stroke-dashoffset: 0%;
	stroke-dasharray: 565.48;
  transition: all 1s ease;
  stroke: #5468f1;
  stroke-width: 1em;
}
/* .head {
	animation: head 2s ease-in-out forwards;
}
.tail {
	animation: tail 2s ease-in-out forwards;
}
.edge {
	animation: edge 2s ease-in-out forwards;
}